extends layout

block nav
  - var browser = true

//- Organization needs to be logged in
block content
  .row.text-center.w
    h1.c-g Browse Calendars
  //-
    script.
      function browseSearch(form) {
        var letters = document.createElement("INPUT")
        letters.name = "types"
        letters.value = getFilterLetters()
        letters.style.display = "none"
        form.appendChild(letters)
      }
    form(action="/browse" method="GET" onsubmit="return browseSearch(this)")
      .input-group
        input.form-control(type="text" name="q" placeholder="Search term" value=q)
        span.input-group-btn
          button.btn.btn-default(type="submit") Search
  include filter-component
  .row
    .col-xs-12
      .m-p
        each calendar in cales
          article(style="padding:.5em 1em")
            h3=calendar.name
            h4(style="text-transform:uppercase")=allTypes[calendar.type]
            div(style="border-bottom: 1px solid " + calendar.color)
            br
            p=calendar.description
            br
            pre=calendar.calendarId
          div(style="margin-top:10px; border-bottom: 1px solid grey")