extends layout

block head
  style.
    .aut { text-transform: uppercase }
    .loc {color:green}

block nav


//- Organization needs to be logged in
block content
  .row.text-center.w
    h1.c-g Search
    script.
      function browseSearch(form) {
        var letters = document.createElement("INPUT")
        letters.name = "types"
        letters.value = getFilterLetters()
        letters.style.display = "none"
        form.appendChild(letters)
      }
    form(action="/search" method="GET" onsubmit="return browseSearch(this)")
      .input-group
        input.form-control(type="text" name="q" placeholder="Search term" value=q)
        span.input-group-btn
          button.btn.btn-default(type="submit") Search
  include filter-component
  .row
    .col-xs-12
      .m-p
        if docs && docs.length
          each doc in docs
            - var calendar = doc.c
            - var evM = doc.e
            article(style="padding:.5em 1em; background-color: #f5f5f5; margin: 1em .5em")
              if evM
                a(href="/calendar/#{calendar.slug}/event/" + evM.i.name.replace(/\W+/g, "-") + ".#{evM.eId}")
                  h4=evM.i.name
                h5(style="text-transform:uppercase")=allTypes[calendar.type]
                div(style="border-bottom: 1px solid " + calendar.color)
                if evM.i.desc && evM.i.desc.length
                  br
                  p=evM.i.desc
                br
                a.aut(href="/calendar/#{calendar.slug}" style="color:" + calendar.color)
                  strong
                    small=calendar.name
                p.loc=evM.i.loc
              else
                h3=calendar.name
                h4(style="text-transform:uppercase")=allTypes[calendar.type]
                div(style="border-bottom: 1px solid " + calendar.color)
                br
                if calendar.description && calendar.description.length
                  p=calendar.description
                br
                pre=calendar.calendarId
          if !production
            pre=JSON.stringify(docs,null,2)
        else
          .text-center
            h3 No events or organizations found!